<form action="/fetch2" method="post" id="form">
    <div id="div">
      <label for="txtar">Enter Student_ID : </label>
      <input name="query" type="text" id="txtar" required /> <br />
    </div>
    <input id="gobtn" type="submit" value="Go" />
    <a id="anchor" href="/view">View More</a>
  </form>
  