<form action="/fetch" method="post" id="form">
  <div id="div">
    <label for="txtar">Write Your Query : </label>
    <input name="query" type="text" id="txtar" /> <br />
  </div>
  <input id="gobtn" type="submit" value="Go" />
</form>
