<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home-page</title>
    <style>
      body {
        text-align: center;
        background-color: brown;
      }
      a {
        background-color: white;
        color: black;
        border: 2px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 5px 5px;
      }
      a:hover {
        background-color: green;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>Puja Moravadiya</h1>
    <h2>24DEV046</h2>
    <div id="all">
      <a href="http://localhost:9025/dynamic_table" target="_blank"
        >Dynamic Table</a
      >
      <br />
      <a href="http://localhost:9025/kukucube" target="_blank">kukucube</a>
      <br />
      <a href="http://localhost:9025/tic-tac-toe" target="_blank"
        >Tic-Tac-Toe</a
      >
      <br />
      <a href="http://localhost:9025/sorting" target="_blank">sorting</a> <br />
      <a href="http://localhost:9025/events" target="_blank">Events</a> <br />
      <a href="http://localhost:9025/job_app" target="_blank"
        >Job Application Form</a
      >
      <br />

      <a href="http://localhost:9025/data" target="_blank"
        >Order By & Pagination</a
      >
      <br />
      <a href="http://localhost:9025/att" target="_blank">Attendance</a>
      <br />
      <a href="http://localhost:9025/result" target="_blank"
        >Result Data Of Students</a
      >
      <br />
      <!-- <a href="http://localhost:9025/fetch" target="_blank"
        >Fetching Data by writing Query</a
      >
      <br /> -->
      <a href="http://localhost:9025/fetch2" target="_blank"
        >Fetching Data by writing Query(Task-1)</a
      >
      <br />
      <a href="http://localhost:9025/sch" target="_blank"
        >Fetching Data by writing special characters</a
      >
      <br />
      <a href="http://localhost:9025/geneform" target="_blank">Generate Form</a>
      <br />
      <a href="http://localhost:9025/inu" target="_blank"
        >Form (Insertion & Update )</a
      >
      <br />
      <a href="http://localhost:9025/fetchcity" target="_blank"
        >Fetch City by Selecting Country</a
      >
      <br />
      <a href="http://localhost:9025/inuajax" target="_blank"
        >Job Application (Insertion & update using Ajax)</a
      >
      <br />
      <a href="http://localhost:9025/timestamp" target="_blank">Timestamp</a>
      <br />
      <!-- <a href="" target="_blank"></a>  -->
      <br />
      <!-- <a href="" target="_blank"></a>  -->
      <br />
      <!-- <a href="" target="_blank"></a>  -->
      <br />
    </div>
  </body>
</html>
