<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>puzzle_02</title>
    <style>
      .h3 {
        display: grid;
        align-items: center;
        justify-content: center;
      }
      #tab {
        margin: auto;
        margin-top: 5rem;
        width: 30rem;
        height: 30rem;
        border: 2px solid white;
      }
      td {
        background-color: rgb(223, 135, 20);
      }
      #opa {
        opacity: 0.5;
      }
      .demo {
        font-family: "Times New Roman", Times, serif;
        font-size: 25px;
        color: brown;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <h3 class="h3">Emp_Name : Puja Moravadiya</h3>
    <h3 class="h3">Date: 01/02/2024</h3>
    <h3 class="h3">Emp_id: 24DEV046</h3>

    <!-- <div style="display: flex; margin-top: 2rem">
      <span class="score">Score : </span> <span id="score" class="score"></span>
      <span id="time">Timer : </span>
    </div> -->
    <p class="demo">Score : <span id="score">0</span></p>
    <p class="demo">Timer : <span id="timer"></span></p>

    <table id="tab">
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td id="opa"></td>
        <td></td>
      </tr>
    </table>
    <!-- <button id="btn">Pause</button> -->
    <script type="text/javascript">
      var count = 0;

      document.body.style.backgroundColor = "#FFE4C4";
      document.getElementById("opa").setAttribute("onClick", "append()");

      var sec = 30;
      const timer = setInterval(() => {
        sec--;
        document.getElementById("timer").innerHTML = sec;
        if (sec == 0) {
          clearInterval(timer);
          alert("Time's up Your Score is :" + count);
        }
      }, 1000);

      function append() {
        count++;
        document.getElementById("score").innerHTML = count;
        0;
        var opa = document.getElementById("opa");
        var table = document.getElementById("tab");
        let tds = document.querySelectorAll("#tab td");

        opa.setAttribute("id", "");
        opa.setAttribute("onClick", "");

        var length = table.rows[0].cells.length;
        console.log(length);
        var row_rand = Math.floor(Math.random() * length);
        var col_rand = Math.floor(Math.random() * length);
        tds[row_rand * col_rand].setAttribute("id", "opa");
        opa = tds[row_rand * col_rand];
        opa.setAttribute("onClick", "append()");

        //set color----

        var x = Math.floor(Math.random() * 225);
        var y = Math.floor(Math.random() * 225);
        var z = Math.floor(Math.random() * 225);
        var bgColor = "rgb(" + x + "," + y + "," + z + ")";
        for (td of tds) {
          td.style.background = bgColor;
        }
        //append logic of add row and col

        if (length > 11) {
        } else {
          let row = document.createElement("tr");
          for (let i = 0; i < length + 1; i++) {
            row.insertCell(i).style.background = bgColor;
          }
          let trs = document.querySelectorAll("tr");
          for (tr of trs) {
            td = document.createElement("td");
            tr.appendChild(td).style.backgroundColor = bgColor;
          }
          table.appendChild(row);
        }
      }
    </script>
  </body>
</html>
