<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        border-collapse: collapse;
        /* width: 30%; */
        border: 1px solid;
      }

      th,
      td {
        border: 1px solid;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tr:nth-child(odd) {
        background-color: #948e8e;
      }
      #form {
        margin: 10px 10px;
      }
      #txtar {
        padding: 10px;
        width: 1000px;
        height: 50px;
        font-weight: bold;
        font-size: 20px;
      }
      #div {
        margin: 15px 20rem;
      }
      #gobtn {
        margin: 10px 55rem;
        padding: 10px 20px;
        width: 85px;
        border-radius: 10px;
        border: none;
        background-color: green;
        font-weight: bold;
        font-size: 25px;
      }
    </style>
    <title>Task : Zero.1</title>
  </head>
  <body>
    <%- include("form") %>
  </body>
</html>
